# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment variables
.env

# Node Modules
node_modules

chroma_db/
Recommender/chroma_db/
*.sqlite3
*.bin